/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

.demo-full-width {
  width: 100%;
}

.margin-top {
  margin-top: 16px;
}

.form {
  border: 2px solid lightgray;
  padding: 8px;
  margin-top: 10px;
}
